{% extends 'BASEE.html' %}
{% block farmer %}active{% endblock %}
{% load static %}
{% block body %}
    <!-- <title>Payment Successful</title> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->


    <!-- <h2 style="color: chocolate; margin-left: 400px;"><u>My Order</u></h2><br> -->
    <div class="container mt-3 p-3">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>PRODUCT</th>
                <th>USERNAME</th>
                <th>FARMERNAME</th>
                <th>AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              {% for i in spay %}                
              <tr>
                <th>{{i.product}}</th>
                <th>{{i.usrdetail.name}}</th>
                <th>{{i.product.frname.name}}</th>
                <th>{{i.amount}}</th>
                
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
          
    <div class="container mt-3 p-3">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Username</th>
                  <th>Farmername</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                {% for i in mpay %}                 
                <tr>
                 
                  <th>{{i.pdctdetails}}</th>
                  <th>{{i.cartuser.name}}</th>
                  <th>{{i.farmer}}</th>
                  <th>{{i.totalprice}}</th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
{% endblock %}
