
{% extends 'BASEE.html' %}
{% block farmer %}active{% endblock %}
{% load static %}
{% block body %}
<!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-02.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-03.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
   
    <!-- <div class="top-search" style="height:50px">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div> -->
    
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box" style="background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>REGISTRATION</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>ADD PRODUCTS</h2>
                        <p></p>
                        <form id="contactForm1" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="code" name="code" placeholder="Code" required data-error="Please enter your product code">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your product name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="des" name="des" placeholder="Description" rows="4" data-error="Write the description" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="price" name="price" placeholder="Price" required data-error="Please enter the price">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Stock" id="stock" class="form-control" name="stock" required data-error="Please enter stock">
                                        <div class="help-block with-errors"></div>
                                    </div>
                    </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="file" class="form-control" id="image" name="img" placeholder="Image" required data-error="Please enter your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover"  type="submit" style="margin-right: 400px;">ADD PRODUCT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

   
{% endblock %}