{% extends 'BASEE.html' %}
{% block farmer %}active{% endblock %}
{% load static %}
{% block body %}

 <!-- End Side Menu -->
  <!-- End Navigation -->
<div class="container mt-3 p-3">
 
    
      
          <form method="post">
            {% csrf_token %}

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>USER</th>
                  <th>NAME</th>
                  <th>ADDRESS</th>
                  <th>PHONE NUMBER</th>
            
                </tr>
              </thead>
              <tbody>
                {% for i in st %}                
                <tr>
                  <td> <a href="usrdisplay2/{{i.cartitm.pk}}"> <img class="card-img-top rounded mb-2" src="{{i.image.url}}" alt="Card image" style="width:70px;height: 70px;"></a> </td>
                  <th>{{i.name}}</th>
                  <th>{{i.address}}</th>
                  <th>{{i.phonenumber}}</th> 
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <!-- <h2 class="card-title btn btn-success d-inline m-3 p-2 mt-4"><a href="addtocart/{{i.pk}}" class="text-light">ADD TO CART</a></h2> -->
          </form>
    
    

</div>
   
{% endblock %}
 <!-- End Side Menu -->
  <!-- End Navigation -->  

  
<!-- <title>CART</title>
<style>
    div{
        color: black;
        font-size: large;
    }
</style>
<div>
    <table border="2" style="margin-left:100px;">
        <tr> <th>NAME</th><th>IMAGE</th><th>DESCRIPTION</th><th>PRICE</th></tr>
        {%for i in st %}
        <tr> -->
            <!-- <th><a href="mycart/{{i.pk}}">{{i}}</a></th>  -->
            <!-- <td>{{i.cartitm.name}}</td>
            <td><img class="card-img-top rounded mb-2" src="{{i.cartitm.image.url}}" alt="Card image" style="width:140px;height: 150px;"></td>      
            <td>{{i.cartitm.description}}</td>
            <td>{{i.cartitm.price}}</td>      
        </tr>
        {% endfor %}
    </table>
</div>-->